# build stuff
*.class
*build.xml*

# settings file (METRO will generate default on start)
settings.cfg

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# blender backup files
*.blend*[1-9]

# javadoc
doc/javadoc/*
